body{
    font-family: Helvetica;
    margin: 0;
}
.parent-nav{
    margin-top: 10px;
    height: 40px;
    width: 100%;
   /* background: beige;*/
    align-content: center;
}
.parent-bar {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 40px; 
}

.navbar-list {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}

.navbar-list li {
    display: inline; 
}

.navbar-list a {
    font-size: 18px;
    text-decoration: none; 
    color: black; 
}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.child {
    /*background-color: #f0f0f0;
    border: 1px solid #ccc;*/
    padding: 20px;
    width: 45%;
}

@media (max-width: 600px) {
    .parent {
        flex-direction: column;
    }
    .child {
        width: 100%; 
    }
}

.sya-container{
    font-size: 16px;
    margin: 10px;
    background: #fffff4;
}
.sya-container h4{
    font-weight: 200;
    font-size: 18px;
}
.sya-container ul{
    list-style: none;
}
body{
    font-family: Helvetica;
}
.parent-nav{
    height: 40px;
    width: 100%;
    background: beige;
    align-content: center;
}
.parent-bar {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 40px; 
}

.navbar-list {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}

.navbar-list li {
    display: inline; 
}

.navbar-list a {
    text-decoration: none; 
    color: inherit; 
}

.outer {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #f0f0f0; 
}

.inner {
    width:90%; 
    height: 200px; 
    background-color: #4CAF50; 
    margin: 40px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-size: 20px; 
}
